<% provide(:title, "Edit book") %>
<h1>Update book info</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@book) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :sn %>
        <%= f.text_field :sn %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :press%>
        <%= f.text_field :press %>

        <%= f.label :author %>
        <%= f.text_field :author %>

        <%= f.label :price %>
        <%= f.text_field :price %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>