<% provide(:title, @book.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @book.name %>
      </h1>
    </section>
    <section>
      <ul>
        <li><%= @book.sn %></li>

        <% unless @book.press.blank? %>
            <li><%= @book.press %></li>
        <% end %>

        <% unless @book.author.blank? %>
            <li><%= @book.author %></li>
        <% end %>

        <% unless @book.price.blank? %>
            <li><%= "￥#{@book.price}" %></li>
        <% end %>
      </ul>
    </section>
    <section>
      <div class="btn-group">
        <%= link_to "edit", edit_book_path(@book), class: "span1 btn btn-primary" %>
        <%= link_to "delete", @book, method: :delete,
                    data: {confirm: "You sure?"}, class: "span1 btn btn-danger" %>
      </div>
    </section>
  </aside>
  <div class="span8">
    Borrowing Record will be Here...
  </div>
</div>