<li id="<%= borrowing_record.id %>">
  <span class="user">
    <%= link_to borrowing_record.reader.name, borrowing_record.reader %>
  </span>
  <span class="content"><%= borrowing_record.book.name %></span>
  <span class="timestamp">
    Borrowed <%= time_ago_in_words(borrowing_record.created_at) %> ago.
  </span>
  <%= link_to "Return book", borrowing_record, method: :put,
              data: {confirm: "You sure?"}, class: "btn btn-danger" %>
</li>