<tr id="<%= borrowing_record.id %>">
  <td><%= link_to borrowing_record.book.name, borrowing_record.book %></td>
  <td><%= link_to borrowing_record.reader.name, borrowing_record.reader %></td>
  <% if borrowing_record.created_at.time.months_since(1).past? %>
      <td class="borrowed">
        <%= time_ago_in_words(borrowing_record.created_at) %> ago
      </td>
  <% else %>
      <td>
        <%= time_ago_in_words(borrowing_record.created_at) %> ago
      </td>
  <% end %>
  <td><%= link_to "Return", borrowing_record, method: :put,
                  data: {confirm: "You sure?"}, class: "btn btn-danger" %></td>
</tr>